<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.passio_caffee">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/passio_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/passio_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Passio_Caffee">

        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key"
            />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".CouPonActivity"/>
        <activity android:name=".ThongBaoActivity" />
        <activity android:name=".ChonMonActivity" />
        <activity android:name=".MapActivity"/>
        <activity android:name=".TheThanhvienActivity" />
        <activity android:name=".ProfileActicity" />
        <activity android:name=".TinTucDetailActivity" />
    </application>

</manifest>